################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ayurveda.Web
/.vs/Web
/Web/bin/Debug/netcoreapp3.1
/Web/obj
/Communication/obj
/Communication/bin/Debug/netcoreapp3.1
/Data/bin/Debug/netcoreapp3.1
/Data/obj
/node_modules
/Services/bin/Debug/netcoreapp3.1
/Services/obj
/Shared/bin/Debug/netcoreapp3.1
/Shared/obj
/Ayurveda.Web/wwwroot/Uploads
/Ayurveda.Web/bin/Release/netcoreapp3.1
/Communication/bin/Release/netcoreapp3.1
/Data/bin/Release/netcoreapp3.1
/Services/bin/Release/netcoreapp3.1
/Shared/bin/Release/netcoreapp3.1
/Ayurveda.Web/bin/Debug/net5.0
/Ayurveda.Web/Properties/PublishProfiles
/Ayurveda.Web/Ayurveda.Web.csproj.user
/Communication/bin/Debug/net5.0
/Communication/bin/Debug/netcoreapp2.2
/Data/bin/Debug
/Services/bin/Debug
/Shared/bin/Debug
*.user
/.vs/Web/v16
/API/obj
/API/bin/Debug/net5.0
/Web/bin/Debug/net5.0
/Web/obj
/.vs/DS Core Template Git/v16/.suo
/.vs/slnx.sqlite
